<%= render "shared/header" %>
<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "こんにちは、" %>
        <%= link_to "#{current_user.nickname}さん", "users/#{current_user.id}", class: :greeting__link%>
      </div>
    <% end %>
    <div class="top">
      <%= link_to knowledges_index_path, class: :choice_btn do %>
        【一般公開】<br>せどりの方法・知識の<br>一覧へ移動
      <% end %>
      <%= link_to  items_index_path, class: :choice_btn do %>
        【登録者限定】<br>せどりが成功した商品<br>一覧へ移動
      <% end %>
    </div>
  </div>
</main>
<%= render "shared/footer" %>