<%= render "shared/header" %>
<div class="center_main">
  <div class="center_inner">
    <% if user_signed_in? %>
      <div class="page_heading">
        <%= "こんにちは、" %>
        <%= link_to "#{current_user.nickname}さん", "users/#{current_user.id}", class: :top_link%>
      </div>
    <% end %>
    <div class="top_choise">
        <%= link_to knowledges_index_path, class: :choice_btn do %>
          <div>【一般公開】</div>
          <div>せどりの方法・知識の</div>
          <div>一覧へ移動</div>
        <% end %>
        <%= link_to  items_index_path, class: :choice_btn do %>
          <div>【登録者限定】</div>
          <div>せどりが成功した商品</div>
          <div>一覧へ移動</div>
        <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>