
<%= render "shared/second_header" %>

<div class="center_main">
  <div class="center_inner">
    <div class="wrapper">
      <h2 class="page_heading">ユーザー情報の変更</h2>

      <%= form_with model: @user, url: user_path(@user.id), class: 'user_edit_main', local: true do |f| %>

        <%= render '/shared/error_messages', model: f.object %>

        <div class="group">
          <div class="field">
            <label class="form-text">ニックネーム</label>
            <span class="indispensable">必須</span>
          </div>
          <div >
            <%= f.text_field :nickname, class:"input_name", id:"user_nickname", placeholder:"例) sideビジネスマン", maxlength:"30" %>
          </div>
        </div>

        <div class="group">
          <div class="field">
            <label class="form-text">地域</label>
            <span class="indispensable">必須</span>
          </div>
          <div >
            <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"input_name", id:"user_prefecture"}) %>
          </div>
        </div>

        <div class="group">
          <div class="field">
            <label class="form-text">機種</label>
            <span class="form-any">任意</span>
          </div>
          <div >
            <%= f.collection_select(:os_type_id, OsType.all, :id, :name, {}, {class:"input_name", id:"user_os_type"}) %>
          </div>
        </div>

        <div class="group">
          <div class="field">
            <label class="form-text">使用しているアプリ①</label>
            <span class="form-any">任意</span>
          </div>
          <div >
            <%= f.text_field :use_app1, class:"input_name", id:"user_use_app1" %>
          </div>
        </div>

        <div class="group">
          <div class="field">
            <label class="form-text">使用しているアプリ②</label>
            <span class="form-any">任意</span>
          </div>
          <div >
            <%= f.text_field :use_app2, class:"input_name", id:"user_use_app2" %>
            <p class='info-text'>※使用しているアプリが3つ以上ある方はプロフィールにご記入ください</p>
          </div>
        </div>

        <div class="group">
          <div class="field">
            <label class="form-text">プロフィール</label>
            <span class="form-any">任意</span>
          </div>
          <div >
            <%= f.text_area :profile, class: :text, id:"user_profile" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "変更する", class: :form__btn  %>
        </div>

      <% end %>

    </div>
  </div>
</div>

<%= render "shared/footer" %>