<%= render "shared/second_header" %>

<div class="center_main">
  <div class="center_inner">
    <div class="wrapper">
      <h2 class="user_title">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>
      <% if current_user.id == @user.id%>
        <div class="user__manage">
          <%= link_to "編集する", edit_user_path(@user.id), class: :user__btn %>
          <%= link_to "退会する", user_path, method: :delete, "data-confirm" => "本当に退会しますか？", class: :user__btn %>
        </div>
      <% end %>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">ユーザー名</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">活動地域</th>
            <td class="table__col2"><%= @user.prefecture.name %></td>
          </tr>
          <tr>
            <th class="table__col1">使用機種</th>
            <td class="table__col2"><%= @user.os_type.name %></td>
          </tr>
          <tr>
            <th class="table__col1">使用アプリ①</th>
            <td class="table__col2"><%= @user.use_app1 %></td>
          </tr>
          <tr>
            <th class="table__col1">使用アプリ②</th>
            <td class="table__col2"><%= @user.use_app2 %></td>
          </tr>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= simple_format(@user.profile) %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの投稿"%>
      </h2>
      <ul class="user__card">
        <li>
          <h3 class="user_page_post_title">せどりの方法・知識</h3>
          <div class="card__wrapper">
            <%= render partial: "/shared/knowledge", collection: @user.knowledges %>
          </div>
        </li>
        <li>
          <h3 class="user_page_post_title">せどり成功商品情報</h3>
          <div class="card__wrapper">
            <%= render partial: "/shared/item", collection: @user.items %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
