<%= form_with model: @item, local: true do |f|%>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="group">
    <div class="field">
      <label class="form-text">商品名</label>
      <span class="indispensable">必須</span>
    </div>
    <div >
      <%= f.text_field :item_name, class:"input_name", id:"item_name" %>
    </div>
  </div>

  <div class="group">
    <div class="field">
      <label class="form-text">メーカー名</label>
      <span class="indispensable">必須</span>
    </div>
    <div >
      <%= f.text_field :maker, class:"input_name", id:"item_maker" %>
    </div>
  </div>

  <div class="group">
    <div class="field">
      <label class="form-text">商品画像</label>
      <span class="indispensable">必須</span>
    </div>
    <div >
      <%= f.file_field :image, class:"input_name", id:"item_image" %>
    </div>
  </div>

  <div class="group">
    <div class="field">
      <label class="form-text">値段</label>
      <span class="indispensable">必須</span>
    </div>
    <div >
      <%= f.text_field :plice, class:"input_name", id:"item_plice" %>
    </div>
  </div>

  <div class="group">
    <div class="field">
      <label class="form-text">購入した店舗</label>
      <span class="indispensable">必須</span>
    </div>
    <div >
      <%= f.text_field :bought_store, class:"input_name", id:"item_bought_store" %>
    </div>
  </div>

  <div class="group">
    <div class="field">
      <label class="form-text">備考</label>
      <span class="form-any">任意</span>
    </div>
    <div >
      <%= f.text_area :item_info, class: :text, id:"item_info" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>