<%= form_with model: @knowledge, local: true do |f|%>

  <%= render 'shared/error_messages', model: f.object %>

  <div class="group">
    <div class="field">
      <label class="form-text">タイトル</label>
      <span class="indispensable">必須</span>
    </div>
    <div >
      <%= f.text_field :knowledge_title, class:"input_name", id:"knowledge_title" %>
    </div>
  </div>

  <div class="group">
    <div class="field">
      <label class="form-text">使用しているアプリ等の画像</label>
      <span class="indispensable">必須</span>
    </div>
    <div >
      <%= f.file_field :image, id:"item_image" %>
    </div>
  </div>

  <div class="group">
    <div class="field">
      <label class="form-text">詳細説明</label>
      <span class="indispensable">必須</span>
    </div>
    <div >
      <%= f.text_area :knowledge_info, class: :text, id:"knowledge_info" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>