<%= render "shared/second_header" %>
<div class="center_main">
  <div class="center_inner">
    <div class="wrapper">
      <h2 class="page_heading">ユーザーログイン</h2>
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>

        <div class="group">
          <div class="field">
            <label class="form-text">メールアドレス</label>
          </div>
          <div >
            <%= f.email_field :email, class:"input_name", id:"user_email", autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <div class="group">
          <div class="field">
            <label class="form-text">パスワード（6文字以上）</label>
          </div>
          <div >
            <%= f.password_field :password, class:"input_name", id:"user_password", autocomplete: "current-password" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: :form__btn %>
        </div>
      <% end %>
      <div class="page_navigation">
        <h2 class="page_navigation_title">新規登録ページへ</h2>
        <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>