<%= render "shared/second_header" %>

<main class="main">
  <div class="inner">
    <div class="post__wrapper">
      <p class="post__hedding">
        <%= @knowledge.knowledge_title %>
      </p>
      <%= link_to "by #{@knowledge.user.nickname}", root_path, class: :post__user %>
      <% if current_user.id == @knowledge.user_id%>
        <div class="post__manage">
          <%= link_to "編集する", edit_knowledge_path, class: :post__btn %>
          <%= link_to "削除する", knowledge_path, method: :delete, class: :post__btn %>
        </div>
      <% end %>
      <div class="post__image">
        <%= image_tag @knowledge.image %>
      </div>
      <div class="post__body">
        <div class="post__detail">
          <p class="detail__title">詳細説明</p>
          <p class="detail__message">
            <%= @knowledge.knowledge_info %>
          </p>
        </div>
      </div>
      <div class="post__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
          <%# <%= form_with model: モデル名,local: true do |f|%>
            <div class="field">
              <%# <%= f.label :hoge, "コメント" %><br />
              <%# <%= f.text_field :hoge, id:"comment_text" %>
            </div>
            <div class="actions">
              <%# <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <%# <% end %> 
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comment_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
            <li class="comment_list">
              <%# <%= " コメントのテキスト "%>
              <%# <%= link_to "（ ユーザー名 ）", root_path, class: :comment_user %>
            </li>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>
  </div>
</main>

<%= render "shared/footer" %>
