<%= render "shared/second_header" %>


<div class="center_main">
  <div class="center_inner">
    <div class="wrapper">
      <p class="post__hedding">
        <%= @knowledge.knowledge_title %>
      </p>
      <%= link_to "by #{@knowledge.user.nickname}", "/users/#{@knowledge.user.id}", class: :post__user %>
      <% if user_signed_in? && current_user.id == @knowledge.user_id %>
        <div class="post__manage">
          <%= link_to "編集する", edit_knowledge_path(@knowledge.id), class: :post__btn %>
          <%= link_to "削除する", knowledge_path(@knowledge.id), method: :delete, class: :post__btn %>
        </div>
      <% end %>
      <div class="post__image">
        <%= image_tag @knowledge.image %>
      </div>
      <div class="post__body">
        <div class="post__detail">
          <p class="detail__title">詳細説明</p>
          <p class="detail__message">
            <%= @knowledge.knowledge_info %>
          </p>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="evaluations_btn">
          <div class="evaluation_btn">
            <% if current_user.already_knowledge_gooded?(@knowledge) %>
              <%= link_to image_tag("good.png", class:"evaluation_icon" ,width:"30",height:"30"), knowledge_knowledge_good_path(@knowledge), method: :delete %>
              <%= link_to 'Good', knowledge_knowledge_good_path(@knowledge), method: :delete %>
            <% else %>
              <%= link_to image_tag("good.png", class:"evaluation_icon" ,width:"30",height:"30"), knowledge_knowledge_goods_path(@knowledge), method: :post %>
              <%= link_to 'Good', knowledge_knowledge_goods_path(@knowledge), method: :post %>
            <% end %>
            <div class="evaluation_count"><%= @knowledge.knowledge_goods.count %></div>
          </div>
          <div class="evaluation_btn">
            <% if current_user.already_knowledge_baded?(@knowledge) %>
              <%= link_to image_tag("bad.png" ,class:"evaluation_icon" ,width:"30",height:"30"), knowledge_knowledge_bad_path(@knowledge), method: :delete %>
              <%= link_to 'Bad', knowledge_knowledge_bad_path(@knowledge), method: :delete %>
            <% else %>
              <%= link_to image_tag("bad.png" ,class:"evaluation_icon" ,width:"30",height:"30"), knowledge_knowledge_bads_path(@knowledge), method: :post %>
              <%= link_to 'Bad', knowledge_knowledge_bads_path(@knowledge), method: :post %>
            <% end %>
            <div class="evaluation_count"><%= @knowledge.knowledge_bads.count %></div>
          </div>
        </div>
      <% end %>
      <div class="post__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@knowledge, @knowledge_comment],local: true do |f|%>
            <%= render 'shared/error_messages', model: f.object %>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_area :text, class:"comment_text", id:"comment_text" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        <ul class="comment_lists">
          <% @knowledge_comments.each do |knowledge_comment| %>
            <li class="comment_list">
              <%= knowledge_comment.text %>
              <%= link_to "（ #{knowledge_comment.user.nickname} ）", "/users/#{knowledge_comment.user.id}", class: :comment_user %>
              <% if user_signed_in? && current_user.id == knowledge_comment.user.id %>
                <%= link_to "削除", knowledge_knowledge_comment_path(@knowledge, knowledge_comment), method: :delete, class: :comment_btn %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
